<html lang="en">
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-success text-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">trello.com</a>
      <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">All folders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categories">Categories</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</html>